# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build artifacts
dist/
out/

# Environment
.env
.env.*
!.env.example
!**/.env.example
!**/.env.tests
deploy/env/.env
deploy/env/api.env
deploy/env/copilot.env
deploy/env/postgres.env
.local

# Editor
.idea
*.swp
*.swo
*~

# Bruno
.run/

# Temp
.#*
*.tmp
*.temp

# Python
__pycache__/
*.pyc
